html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 340px;
    height: 110px;
}

.division {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.left {
    margin-left: 30px;
}

.right {
    margin-left: 70%;
}


a{
    text-decoration: none;
    color: black;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid black;
}

.header-main {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.buscar {
    text-align: center;
}

.buscar input{
    margin-top: 30px;
    width: 40%;
    border-radius: 24px;
    padding: 12px 20px;
}

.centro {
    display: flex;
    justify-content: center;
}

.btn_buscar {

    border: 2px solid rgba(129, 126, 126, 0.568);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px 16px;
    cursor: pointer;
}

.btn_suerte {
    border: 2px solid rgba(129, 126, 126, 0.568);
    border-radius: 10px;
    margin-top: 20px;
    padding: 3px 16px;
    cursor: pointer;
}

.final {
    text-align: center;
    margin-top: 12%;
}

.final a{
    text-decoration: underline;
    color: blue;
}

#regresar {
    color: red;
}