body{
   background: linear-gradient(rgba(244, 250, 154, 0.719),rgb(112, 30, 189));
   height: 150vh;
}

.titulo {
   background-image: url(https://tiposdetexto.org/wp-content/uploads/2020/05/formulario.png);
   background-position: center;
   background-repeat: no-repeat;
   background-color: white;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 60px;
   width: 40%;
   opacity: 0.9;
   height: 50vh;
   transition: transform.3s;
}

.titulo:hover {
   transform: scale(1.2);
}

fieldset {
   border: 2px solid black;
   border-radius: 50px;
   background: linear-gradient(to bottom,rgba(176, 255, 235, 0.685),rgb(140, 183, 247));
   margin-top: 30px;
}

legend {
   text-align: center;
   background-color: aqua;
   border-radius: 50px;
   padding: 7px;
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 40px;
}

.formulario {
   width: 110%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-evenly;
}

.formulario div {
   margin-left: 80px;
   margin-bottom: 40px;
   /* justify-content: spa; */
   align-items: flex-start;
}

.division {
   text-align: center;
   margin-top: 90px;
}

.boton {
   margin: auto;
   color: white;
   background-color: rgb(248, 140, 140);
   border-radius: 50px;
   padding: 15px;
   cursor: pointer;
}