body{
    background: linear-gradient(rgba(65, 211, 60, 0.719),rgb(76, 241, 219));
    height: 200vh;
}

.titulo {
    background-image: url(https://logoeps.com/wp-content/uploads/2013/07/aeromexico-vector-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 70%;
    opacity: 0.9;
    height: 50vh;
    transition: transform.3s;
}

.titulo:hover {
    transform: scale(1.2);
}

.titulo h1{
    text-align: center;
    color: blue;
}

fieldset {
    border: 2px solid black;
    border-radius: 50px;
    background: linear-gradient(to bottom,rgba(204, 240, 245, 0.685),rgb(140, 247, 200));
    margin-top: 30px;
}

legend {
    text-align: center;
    background-color: aqua;
    border-radius: 50px;
    padding: 7px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.formulario {
    width: 110%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
}

.formulario div {
    margin-left: 80px;
    margin-bottom: 40px;
    /* justify-content: spa; */
    align-items: flex-start;
}

.formulario label {
    text-align: justify;
}

.formulario input {
    text-align: justify;
}


.division {
    text-align: center;
    margin-top: 90px;
}

.boton {
    margin: auto;
    color: white;
    background-color: rgb(248, 140, 140);
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
}



