body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(228, 102, 102, 0.664),rgba(255, 111, 236, 0.575));
    font-family: 'Courier New', Courier, monospace;
}

fieldset {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/691/170/464/fondos-de-pantalla-color-azul-abstract-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(176, 81, 240);
    font-style: oblique;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: rgb(20, 204, 20);
}

img {
    width: 280px;
    height: 130px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.datos {
    font-size: 27px;
    margin:auto;
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: center;
    width: 70%;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgba(0, 255, 255, 0.26);
    height: 60vh;
    
}


.datos span {
    font-weight: bold;
    font-style: oblique;
    color: rgba(71, 58, 255, 0.897);
    margin-bottom: 10px;
}

.datos div {
    margin-top: 20px;
    margin-bottom: 70px;
}


.redireccion {
    /* margin-left: 60%; */
    width: 70%;
    height: fit-content;
    border: 2px solid rgb(227, 253, 75);
    background-color: rgba(226, 253, 75, 0.486);
    border-radius: 50px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    
   
}

.redireccion .division {
    display: flex;
    justify-content: space-evenly;
}

.redireccion h3 {
    color: deeppink;
}

.redireccion button {
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
}
